<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">

    <select id="findAll" resultType="user">
        select * from user
    </select>

    <!-- 查询需设置resultType或resultMap 否则会报-->
    <!-- A query was run and no Result Maps were found for the Mapped Statement-->
    <select id="findById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>

    <select id="findOneByCondition" resultType="user" parameterType="user">
        select * from user where username = #{username} and password = #{password}
    </select>

    <!-- insert想返回id值 需要配置useGeneratedKeys 和 keyProperty或keyColumn -->
    <insert id="insertOne" parameterType="user" useGeneratedKeys="true" keyProperty="id">
        insert into user values (#{id}, #{username}, #{password}, #{birthday})
    </insert>

    <update id="updateOne" parameterType="user">
        update user set birthday = #{birthday} where id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>